################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend-challenge/bin/Debug/netcoreapp3.0
/backend-challenge/obj/Debug/netcoreapp3.0
/backend-challenge/obj/Release/netcoreapp3.0
/backend-challenge/obj
